@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body{
    background-color: #25262A;
    overflow-x: hidden;
}

.logo{
   margin-left: -3rem;
   margin-top: -1rem;
}

li{
    float: left;
    padding: 25px;
    list-style: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.align{
    color: white;
    position: relative;
}

.list-item{
    position: relative;
    left: 4vw;
    display: flex;
    gap: -10px;
}

.list-button{
    position: relative;
    left: 65vw;
    bottom: 10vh;
    //ffaf29
    //fecd1a
}

.list-icon{
    position: relative;
    left: 62vw;
    bottom: 8vh;
}

.btn-primary{
    background-color: transparent;
    background-image: linear-gradient(91deg, #ffaf29, #fecd1a);
  color: #25262A;
  border: none;
  padding: 20px 55px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 0.3rem;
}

.btn-icon{
    background-color: transparent;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    transition: 1s;
}

.btn-icon:hover{
    background-color: #ffaf29;
}

.align:hover{
    font-weight: 900;
    cursor: pointer;

}

.align::after {
    content: ''; /* Required for pseudo-element */
    position: absolute; /* Position relative to the link */
    left: 26px; /* Start from the left of the link */
    bottom: 1vh; /* Some space from the text */
    width: 70px; /* Full width */
    height: 2px; /* Thickness of the underline */
    background-color: #fff; /* Color of the underline */
    transition: all 0.3s ease; /* Smooth transition effect */
    opacity: 0; /* Initially hidden */
}

/* Underline effect on hover */
.align:hover::after {
    bottom: 18px; /* Adjust space from the text */
    height: 4px; /* Make the underline bolder */
    opacity: 1; /* Show the underline */
}

.icon{
    width: 23px;
    position: relative;
    bottom: 5px;
}

.text{
    margin: 20px;
    margin-top: 40px;
}

.intro{
    color: #64F4AB;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

.name{
    font-size: 78px;
    position: relative;
    bottom: 6vh;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
   
}

.details{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #ECF2FD;
    position: relative;
    bottom: 8vh;
}

.text-btn{
    position: relative;
    bottom: 5vh;
}
